body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "Inter", sans-serif;
}

form, #logo, #links, label input, a{
    max-width: 80vw ;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: flex;
    flex-direction: column;
}

a {
    text-decoration: none;
    color: inherit;
    outline: none;
}

label input {
    border: none;
    background-color: #D9D9D9;
    height: 72px;
    width: 448px;
    border-radius: 10px;
    text-align: center;

    &::placeholder {
        text-align: center;
        font-size: x-large;
        font-weight: bold;
    }
}

p {
    padding: 20px 0 5px 0;
}

#submit {
    margin-top: 63px;
    border: none;
    background-color: #D9D9D9;
    border-radius: 25px;
    height: 72px;
    width: 242px;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
        opacity: 0.7;
    }

    &:active {
        transform: scale(0.9);
    }
}


#logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: xx-large;

    & span {
        font-size: 200px;
    }
}


#links {
    margin: 2em 0;
    font-family: "Inria Serif", serif;
    font-weight: bold;
    font-style: italic;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 4em;
    gap: 10vw;

    a {
        transition: 0.2s ease;
        &::before {
          position: relative;
          top: 1.1em;
          display: block;
          content: "";
          border-top: solid 3px black;
          transform: scaleX(0);
          transition: transform 250ms ease-in-out;
        }
        &:hover::before {
          transform: scaleX(1);
        }

        &:hover {
            color: blue;
        }

        &:active {
            transform: scale(0.9);
        }
    }
}